* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background-image: url(../img/body.jpg);
  background-size: cover;
  background-color: #404040;
  background-position: center;
}

/* =================
 Typography 
 ================= */

h1 {
  font-size: 2.25rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}

h1 + p {
  color: #fff;
  font-weight: 700;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h1 .logo-red {
  color: #ff0000;
  text-shadow: 1px 1px 1px #888;
  /* margin: 2em 0; */
}

h2 {
  font-size: 1.3125rem;
  /* margin: 0; */
}

h2 + p {
  font-weight: 700;
  /* color: #fff; */
  margin-top: 0;
  text-transform: uppercase;
}

.top-text {
  font-size: 0.625rem;
  margin: 0;
  padding-top: 2px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #ff0000;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* =================
 Intro section 
 ================= */

.intro {
  background-image: url(../img/intro-image.png);
  background-size: cover;
  background-color: #404040;
  background-position: center;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}
.intro h1 {
  word-spacing: -8px;
}

/* =================
 main-content section 
 ================= */

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* =================
 form
 ================= */

.email-collector {
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  padding: 0.25em;
  border: 1px solid #404040;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to left, #ff0000, #000080);
  color: white;
}

/* =================
 media queries 
 ================= */

@media (min-width: 650px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2,
  h1 + p {
    font-size: 01.25rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2em 1em;
    background-image: url(../img/main-content-image.png);
    background-size: cover;
    background-color: #404040;
    background-position: center;
    color: #fff;
  }
}
